.movies-more-wrap {
    max-width: 300px;
    height: 36px;
    margin: auto;
    padding: 50px 0 80px;
}

.movies-more-btn {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 100%;
    border: none;
    padding: 9px 0 11px;
    background: #F9F9F9;
    border-radius: 6px;
    box-sizing: border-box;
}

.movies-more-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .movies-more-wrap {
        max-width: 708px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-more-wrap {
        max-width: 1140px;
    }
}

.movies-error-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    max-width: 1140px;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .movies-error-title {
        font-size: 26px;
        line-height: 30px;
    }
}