.section-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    border-bottom: 1px solid #000000;
    margin: 0;
    padding-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .section-title {
        font-size: 22px;
        line-height: 27px;
        padding-bottom: 23px;
    }
}