.header {
    display: flex;
    position: relative;
    width: 100%;
    background: #F3C1F8;
    padding: 0;
    box-sizing: border-box;
    min-height: 74px;
}

.header_loggined {
    background: #FFFFFF;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    max-width: 1140px;
    min-height: 38px;
    margin: 15px 16px 16px;
    width: 100%;
}

.header__links {
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .header__container {
        margin: 15px 16px;
    }
}

@media screen and (min-width: 1280px) {
    .header__container {
        margin: 18px auto;
    }
}